/*
    style.css - CSS file for portfolio.
    15/02/2018 17:27 GMT -03:00
 */

/* -------------------------------------------------------------------------- */
/* Fonts import section */

/* Nanum Pen Script Font Family */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* Tajawal, Ubuntu Mono and Condensed Font Families */
 @import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700|Ubuntu+Condensed|Ubuntu+Mono:400,700');

/* Blacj Han Sans Font Family */
 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

/* -------------------------------------------------------------------------- */
/* Page Layout Section */

/*  Includes padding and border in the element's total width and height 
	The '*' makes this a property for every tag on the .html file
*/
* {
  box-sizing: border-box;
}

/* Fill page height (html part) */
html {
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

/* Fill page height */
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-border {
  border-bottom: 2px solid crimson;
}

div.container-body {
  padding: 0px;
}

#about-me {
  background-color: rgba(220, 220, 220, .8);
}

#portfolio {
  background-color: #4682B4;
}

#contact {
  background-color: #2B2B2B;
}

.triangle-down {
  width: 0;
  height: 0;
  border-top: 30px solid #4682B4;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 30px solid #4682B4;
}

footer {
  padding-bottom: 10px;
  background-color: #131516;
}

/* -------------------------------------------------------------------------- */
/* General Font Styling Section */

.font-ubuntu-mono {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: rgb(10, 10, 15);
}

.font-project-desc {
  font-family: 'Ubuntu Mono', monospace;
  font-size: .9em;
  font-weight: 500;
  color: #7EF9FF;
}

.font-ubuntu-condensed {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: rgb(10, 40, 80);
}

.font-nav-links {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  text-align: center;
  color: aquamarine;
}

.font-nanum-pen-script {
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
  color: turquoise;
}

.font-project {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: #000080;
  margin-top: 20px;
}

.font-form {
  font-family: 'Georgia', sans-serif;
  font-size: 1em;
  color: black;
}

p > a {
  color: #1D2951;
}

p > a:hover {
  color: #1D2951;
  text-decoration: underline;
}

a.about {
  color: #00A572;
}

a.about:hover {
  color: #00A572;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* General Elements Styling section */

.nav-links {
  position: relative;
  left: 20px;
}

.nav-btn {
  position: relative;
  left: 20px;
}

.img-rounded {
  display: block;
  border-radius: 5%;
  margin: 30px auto;
  height: 250px;
  width: auto;
}

h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.img-container {
  position: relative;
  width: 100%;
}

.img-portfolio {
  display: block;
  margin: auto;
  height: auto;
  min-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4682B4;
}

.img-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #000;
  font-size: 1em;
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project {
  padding: 50px 0;
}

div.line {
  border-top: 1px ridge #000;
}

.buttons {
  position: relative;
  top: 33%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.link-btn {
  background-color: #2B2B2B;
  margin: 0 2px;
  width: 65px;
  height: 50px;
}

a.link-btn {
  color: azure;
}

a.link-btn:hover {
  background-color: #6F7C80;
  border: 2px solid white;
}

.btn-project {
  display: block;
  font-family: 'Tajawal', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #1034A6;
  text-align: center;
  background: none;
  border: 2px solid #98FB98;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  height: auto;
  width: 9em;
  margin-bottom: 20px; 
}

a.btn-project:hover {
  transition: .5s ease;
  text-decoration: none;
  color: midnightblue;
  background-color: #98FB98;
}

input, textarea {
  margin: 2px;
  background-color: #DADEDF;
  width: 15em;
  border: 1px solid #FFF;
}

input[type="submit"] {
  margin-left: -9em;
  font-family: 'Black Han Sans', sans-serif;
  width: 6em;
  height: 2em;
  background-color: #6F7C80;
  border: 2px solid #131516;
  border-radius: 3px;
}

input[type="submit"]:hover {
  transition: .5s ease;
  background-color: #131516;
  color: #6F7C80;
  border: none;
  cursor: pointer;
}